compile
unidep
unidep.go

tmp:
0000.xml
0001.xml
collection.xml
dump2.xml
gap.xml
gap2.xml
t.xml
t2.xml
tester
tester-in.go
tester.go
tester.xml
wik_part0007.dact::1573-27-1.zip
wik_part0007_dact__1573-27-1.xml
xq
xq2
